<app-header-component></app-header-component>

<div style="margin-top: 80px;margin-bottom: 20px;">
  <h3>Registro de Producto</h3>
</div>

<div class="mb-4">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card">
        <!--
        <div class="card-header py-3">
          <h5 class="card-title mb-0"><i class="bi bi-tools me-2"></i>Solicitud de Mantenimiento</h5>
        </div>
        -->
        <div class="card-body">
          <form [formGroup]="frmRegistro">
            <!-- ID (oculto para creación, visible para edición) -->
            <input type="hidden" id="id" name="id" value="" formControlName="id" />

            <div class="row mb-3">
              <div class="col-md-12">
                <label for="nombre" class="form-label required-field">Nombre</label>
                <input
                  type="text"
                  id="nombre"
                  name="nombre"
                  formControlName="nombre"
                  class="form-control"
                  maxlength="255"
                  [ngClass]="{ 'is-invalid': fcm['nombre'].errors }"
                />
                <div class="invalid-feedback">Por favor ingrese un nombre.</div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-12">
                <label for="descripcion" class="form-label required-field">Descripción</label>
                <textarea
                  id="descripcion"
                  name="descripcion"
                  class="form-control"
                  formControlName="descripcion"
                  [ngClass]="{ 'is-invalid': fcm['descripcion'].errors }"
                  rows="4"
                ></textarea>
                <div class="invalid-feedback">Por favor ingresa una descripción detallada.</div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label for="categoria" class="form-label required-field">Categoria</label>
                <select
                  id="categoria"
                  name="categoria"
                  class="form-control"
                  formControlName="categoria"
                  required
                >
                  <option value="">- Seleccione -</option>
                  <option value="Accesorios">Accesorios</option>
                  <option value="Almacenamiento">Almacenamiento</option>
                  <option value="Consolas">Consolas</option>
                  <option value="Impresoras">Impresoras</option>
                  <option value="Laptops">Laptops</option>
                  <option value="Lectores">Lectores</option>
                  <option value="Móviles">Móviles</option>
                  <option value="Redes">Redes</option>
                  <option value="string">string</option>
                  <option value="Tablets">Tablets</option>
                  <option value="Televisores">Televisores</option>
                  <option value="Wearables">Wearables</option>
                </select>
                <div class="invalid-feedback">Por favor selecciona una categoria.</div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-2">
                <label for="precio" class="form-label required-field">Precio ($)</label>
                <input
                  type="number"
                  id="precio"
                  name="precio"
                  class="form-control"
                  formControlName="precio"
                  required
                />
                <div class="invalid-feedback">Por favor ingresa un precio válido.</div>
              </div>
              <div class="col-md-2">
                <label for="stock" class="form-label required-field">Stock</label>
                <input
                  type="number"
                  id="stock"
                  name="stock"
                  class="form-control"
                  formControlName="stock"
                  required
                />
                <div class="invalid-feedback">Por favor ingresa un stock válido.</div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label for="anexo" class="form-label">Imagen del producto</label>
                <input
                  type="file"
                  class="form-control"
                  id="anexo"
                  name="anexo"
                  accept=".jpg,.png"
                />
                <div class="form-text">Formatos aceptados: JPG, PNG</div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">

          <button type="button" class="btn btn-secondary" (click)="listarProductos()" style="margin-right: 10px;">
            <i class="bi bi-arrow-left"></i> Retornar a Lista
          </button>

          <button type="button" class="btn btn-primary" (click)="grabar($event)">
            <i class="bi bi-floppy"></i> Grabar Producto
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
